<html lang="en">
<head>
    {{>cdnLinks}}
    <title>{{username}} • addbyme</title>
</head>
<body style="font-family: 'Inter', sans-serif">
  <!-- component -->
  <div class="min-h-screen flex flex-col max-w-md mx-auto bg-gray-50 opacity-100 font-poppins px-4 bg-no-repeat bg-cover bg-center">
    <div class="flex justify-between px-1 pt-4 items-center">
      <div class="hover:bg-gray-100 rounded-full">
      <a href="/">  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z"/></svg>
      </a></div>
      <div>
        <p class="font-semibold">My Profile</p>
      </div>
      <div>
       <a  href="{{username}}">  <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path><path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path>
       </svg>
       </a></div>
    </div>
    <div class="flex items-center px-4 pt-12 justify-between">
      <div class="w-24 h-24  flex items-center rounded-full">
        <img class="h-20 w-20 rounded-full mx-auto" src="{{avatar}}">
      </div>
      <div class="w-9/12 flex items-center">
        <div class="w-10/12 flex flex-col leading-none pl-4">
          <p class="text-2xl font-bold flex space-x-1">{{username}}
              <svg class="w-5 text-blue-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
          
           </p>
           <p class="text-sm pt-2 font-light text-gray-700">{{name}}</p>
          <p class="text-sm pt-1 font-light text-gray-700">{{job}} {{workplace}}</p>
          <p class="text-sm pt-2 font-light text-gray-700">"{{bio}}"</p>
        </div>
        <div class="w-2/12">
          <div>
         <a href="/edit/profile">  <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-700" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M9.243 19H21v2H3v-4.243l9.9-9.9 4.242 4.244L9.242 19zm5.07-13.556l2.122-2.122a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414l-2.122 2.121-4.242-4.242z"/></svg>
          </a> </div>
        </div>
      </div>
    </div>
    <div class="pt-12 px-4 w-full flex flex-col">
      <p class="font-semibold text-black">Settings</p>
      <div class="flex w-full pt-2 space-x-4 text-sm">
        <button class="bg-white w-28 rounded-full px-3 py-2 font-ligth text-black border border-gray-400 flex shadow"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
        </svg> Settings</button>

       <a href="/edit/themes"><button class="bg-black w-28 rounded-full px-3 py-2 font-ligth text-white flex">
       <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
       <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z" />
       <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd" />
       </svg></button></a>

      <a href="/edit/posts"><button class="bg-black w-28 rounded-full px-2 py-2 font-ligth text-white flex"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
      </svg></button>
      </a>
      
       <a href="#"><button class="bg-blue-500 w-28 rounded-full px-2 py-2 font-ligth text-white flex">
         <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
         <path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd" />
         </svg> hited
       </button></a>
     
      </div>
    </div>
  
  
     <p class="font-semibold px-4 text-black flex mt-5">Sponsor Id</p>
     <p class="font-semibold px-4 text-gray-600 flex text-sm">we only support instamojo &nbsp;<a class="text-blue-400" href="#"> learn more</a></p>
        
        <div class="px-4 space-y-3">
        <input placeholder="Instamojo Id" class="appearance-none mt-2 block w-full  text-grey-darker border border-grey-lighter focus:outline-none rounded-lg h-10 px-4" type="text" name="bio" id="bio">
        </div>
        <p class="font-semibold px-4 text-black flex mt-5">Link</p>
        <p class="font-semibold px-4 text-gray-600 flex text-sm">link with other addbyme apps &nbsp;<a class="text-blue-400" href="#"> learn more</a></p>

     <style>
/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: rgb(143, 188, 247);
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: rgb(143, 188, 247);
}
</style>





               
<div class="relative inline-block w-10 mr-2 pt-2 mx-4 align-middle select-none transition duration-200 ease-in">
    <input type="checkbox" name="toggle" id="toggle" class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"/>
    <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
</div>
     <p class="font-semibold px-4 text-gray-600 flex mt-5"><a class="flex inline-block" href="/help">Get Help<svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
      <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
      <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
      </svg></a></p>


     <p class="font-semibold px-4 text-gray-600 flex mt-5"><a class="flex inline-block" href="/help">Chat With Us<svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
      <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
      <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
      </svg></a></p>

     <p class="font-semibold px-4 text-gray-600 flex mt-5"><a class="flex inline-block" href="/help">Any Feedback ?<svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
      <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
      <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
      </svg></a></p>

      <p class="font-semibold px-4 text-gray-600 flex mt-5"><a class="flex inline-block" href="/help">Report Something<svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
      <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
      <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
      </svg></a></p>

      <p class="font-semibold px-4 text-gray-600 flex mt-5"><a class="flex inline-block" href="/help">Create Ad<svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
      <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
      <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
      </svg></a></p>
     
  <!-- Edit Link -->
<button class="bg-black  hover:bg-blue-dark text-white font-bold py-2 mt-8 mx-24 rounded-full">
    Save Settings
</button>

  
    
    <div class="pt-12 mb-8 px-4 w-full flex flex-col">
      <div class="flex flex-col w-full pt-2 space-y-2">
        
          <div class="flex w-full h-12">
         <a href="/monetize"> 
           <div class="w-2/12 h-full">
            <div class="h-12 w-12  rounded-full flex items-center">
           <svg class="w-full text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>          
           </div>
          </div>
          </a>
          <div class="w-8/12 h-full flex items-start">
            <p class="my-auto text-lg font-semibold">Not Verified</p>
          </div>
          <div class="w-4/12 h-full flex justify-end items-end">
           <a href="/logout"> <button class="flex bg-red-700 hover:bg-red-600 hover:shadow-lg rounded-md my-auto px-5 py-1 float-right text-white font-medium">Logout</button>
           </a></div>
        </div>
      </div>
    </div>
  </div>
  <style>
  .bg-gelap{
    background-color: #001E26;
  }
  .bg-btn{
    background-color: #FF6446;
  }
  </style>
</body>
</html>