<!doctype html>
<html lang="en">
<head>
 {{>cdnLinks}}
 {{#if title}}
 <title>{{title}}</title>
 {{else}}
<title>{{username}}</title>
{{/if}}
</head>
<body style="font-family: 'Inter', sans-serif;
font-weight: 700;
  
font-style: normal; background-image: url('{{cstmbg}}');

  min-height: 500px;

  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

 ">
<!-- c1 -->
<div class="w-full items-center overflow-hidden md:max-w-sm rounded-lg mx-auto">
      
      <div class="relative mx-auto mt-8 h-24 w-24 rounded-full overflow-hidden">
        <img class="object-cover w-full h-full" src="{{avatar}}">
      </div>


      <div class="mt-4">
        <h1 style="color: {{text}};" class="text-center">
          <span class="text-xl font-bold inline-flex">@{{username}} 
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
         </svg>
         </span>
           <br>
          <span class="text-sm font-bold">{{job}}{{#if job}} {{#if workplace}} <span class="font-thin"> at </span>{{/if}} {{/if}} <a target="_blank" href="https://addby.me/{{workplace}}">{{workplace}}</a></span>
          <p class="text-sm font-thin">{{bio}}</p>
        </h1>
      {{>afterProfileCreation/profileSocial}}
      </div>

    
    

        <a target="_blank" href="#">
        <div style="background-color: {{btnclr}};" class="mt-4 flex justify-between items-center h-50 py-2 px-2 rounded-lg shadow-xl">
        <div class="flex items-center">
          <img class="rounded-md h-10 w-10" src="https://i.pinimg.com/originals/a4/c4/83/a4c48337de33905491f6f3d51e6d6fcd.gif" alt="Logo" />
          <div class="ml-2">
          <div style="color: {{txtclr}};" class="text-block font-semibold ">Rare Beauty </div>
          </div>
        </div>
        <div>
        </div>
        </div>
        </a>

                <a target="_blank" href="#">
        <div style="background-color: {{btnclr}};" class="mt-4 flex justify-between items-center h-50 py-2 px-2 rounded-lg shadow-xl">
        <div class="flex items-center">
          <img class="rounded-md h-10 w-10" src="https://i.pinimg.com/originals/a4/c4/83/a4c48337de33905491f6f3d51e6d6fcd.gif" alt="Logo" />
          <div class="ml-2">
          <div style="color: {{txtclr}};" class="text-block font-semibold ">Rare Beauty </div>
          </div>
        </div>
        <div>
        </div>
        </div>
        </a>

                <a target="_blank" href="#">
        <div style="background-color: {{btnclr}};" class="mt-4 flex justify-between items-center h-50 py-2 px-2 rounded-lg shadow-xl">
        <div class="flex items-center">
          <img class="rounded-md h-10 w-10" src="https://i.pinimg.com/originals/a4/c4/83/a4c48337de33905491f6f3d51e6d6fcd.gif" alt="Logo" />
          <div class="ml-2">
          <div style="color: {{txtclr}};" class="text-block font-semibold ">Rare Beauty </div>
          </div>
        </div>
        <div>
        </div>
        </div>
        </a>

                <a target="_blank" href="#">
        <div style="background-color: {{btnclr}};" class="mt-4 flex justify-between items-center h-50 py-2 px-2 rounded-lg shadow-xl">
        <div class="flex items-center">
          <img class="rounded-md h-10 w-10" src="https://i.pinimg.com/originals/a4/c4/83/a4c48337de33905491f6f3d51e6d6fcd.gif" alt="Logo" />
          <div class="ml-2">
          <div style="color: {{txtclr}};" class="text-block font-semibold ">Rare Beauty </div>
          </div>
        </div>
        <div>
        </div>
        </div>
        </a>

                <a target="_blank" href="#">
        <div style="background-color: {{btnclr}};" class="mt-4 flex justify-between items-center h-50 py-2 px-2 rounded-lg shadow-xl">
        <div class="flex items-center">
          <img class="rounded-md h-10 w-10" src="https://i.pinimg.com/originals/a4/c4/83/a4c48337de33905491f6f3d51e6d6fcd.gif" alt="Logo" />
          <div class="ml-2">
          <div style="color: {{txtclr}};" class="text-block font-semibold ">Rare Beauty </div>
          </div>
        </div>
        <div>
        </div>
        </div>
        </a>

                <a target="_blank" href="#">
        <div style="background-color: {{btnclr}};" class="mt-4 flex justify-between items-center h-50 py-2 px-2 rounded-lg shadow-xl">
        <div class="flex items-center">
          <img class="rounded-md h-10 w-10" src="https://i.pinimg.com/originals/a4/c4/83/a4c48337de33905491f6f3d51e6d6fcd.gif" alt="Logo" />
          <div class="ml-2">
          <div style="color: {{txtclr}};" class="text-block font-semibold ">Rare Beauty </div>
          </div>
        </div>
        <div>
        </div>
        </div>
        </a>

                <a target="_blank" href="#">
        <div style="background-color: {{btnclr}};" class="mt-4 flex justify-between items-center h-50 py-2 px-2 rounded-lg shadow-xl">
        <div class="flex items-center">
          <img class="rounded-md h-10 w-10" src="https://i.pinimg.com/originals/a4/c4/83/a4c48337de33905491f6f3d51e6d6fcd.gif" alt="Logo" />
          <div class="ml-2">
          <div style="color: {{txtclr}};" class="text-block font-semibold ">Rare Beauty </div>
          </div>
        </div>
        <div>
        </div>
        </div>
        </a>

                <a target="_blank" href="#">
        <div style="background-color: {{btnclr}};" class="mt-4 flex justify-between items-center h-50 py-2 px-2 rounded-lg shadow-xl">
        <div class="flex items-center">
          <img class="rounded-md h-10 w-10" src="https://i.pinimg.com/originals/a4/c4/83/a4c48337de33905491f6f3d51e6d6fcd.gif" alt="Logo" />
          <div class="ml-2">
          <div style="color: {{txtclr}};" class="text-block font-semibold ">Rare Beauty </div>
          </div>
        </div>
        <div>
        </div>
        </div>
        </a>

                <a target="_blank" href="#">
        <div style="background-color: {{btnclr}};" class="mt-4 flex justify-between items-center h-50 py-2 px-2 rounded-lg shadow-xl">
        <div class="flex items-center">
          <img class="rounded-md h-10 w-10" src="https://i.pinimg.com/originals/a4/c4/83/a4c48337de33905491f6f3d51e6d6fcd.gif" alt="Logo" />
          <div class="ml-2">
          <div style="color: {{txtclr}};" class="text-block font-semibold ">Rare Beauty </div>
          </div>
        </div>
        <div>
        </div>
        </div>
        </a>

                <a target="_blank" href="#">
        <div style="background-color: {{btnclr}};" class="mt-4 flex justify-between items-center h-50 py-2 px-2 rounded-lg shadow-xl">
        <div class="flex items-center">
          <img class="rounded-md h-10 w-10" src="https://i.pinimg.com/originals/a4/c4/83/a4c48337de33905491f6f3d51e6d6fcd.gif" alt="Logo" />
          <div class="ml-2">
          <div style="color: {{txtclr}};" class="text-block font-semibold ">Rare Beauty </div>
          </div>
        </div>
        <div>
        </div>
        </div>
        </a>

                <a target="_blank" href="#">
        <div style="background-color: {{btnclr}};" class="mt-4 flex justify-between items-center h-50 py-2 px-2 rounded-lg shadow-xl">
        <div class="flex items-center">
          <img class="rounded-md h-10 w-10" src="https://i.pinimg.com/originals/a4/c4/83/a4c48337de33905491f6f3d51e6d6fcd.gif" alt="Logo" />
          <div class="ml-2">
          <div style="color: {{txtclr}};" class="text-block font-semibold ">Rare Beauty </div>
          </div>
        </div>
        <div>
        </div>
        </div>
        </a>

                <a target="_blank" href="#">
        <div style="background-color: {{btnclr}};" class="mt-4 flex justify-between items-center h-50 py-2 px-2 rounded-lg shadow-xl">
        <div class="flex items-center">
          <img class="rounded-md h-10 w-10" src="https://i.pinimg.com/originals/a4/c4/83/a4c48337de33905491f6f3d51e6d6fcd.gif" alt="Logo" />
          <div class="ml-2">
          <div style="color: {{txtclr}};" class="text-block font-semibold ">Rare Beauty </div>
          </div>
        </div>
        <div>
        </div>
        </div>
        </a>

                <a target="_blank" href="#">
        <div style="background-color: {{btnclr}};" class="mt-4 flex justify-between items-center h-50 py-2 px-2 rounded-lg shadow-xl">
        <div class="flex items-center">
          <img class="rounded-md h-10 w-10" src="https://i.pinimg.com/originals/a4/c4/83/a4c48337de33905491f6f3d51e6d6fcd.gif" alt="Logo" />
          <div class="ml-2">
          <div style="color: {{txtclr}};" class="text-block font-semibold ">Rare Beauty </div>
          </div>
        </div>
        <div>
        </div>
        </div>
        </a>

                <a target="_blank" href="#">
        <div style="background-color: {{btnclr}};" class="mt-4 flex justify-between items-center h-50 py-2 px-2 rounded-lg shadow-xl">
        <div class="flex items-center">
          <img class="rounded-md h-10 w-10" src="https://i.pinimg.com/originals/a4/c4/83/a4c48337de33905491f6f3d51e6d6fcd.gif" alt="Logo" />
          <div class="ml-2">
          <div style="color: {{txtclr}};" class="text-block font-semibold ">Rare Beauty </div>
          </div>
        </div>
        <div>
        </div>
        </div>
        </a>

        






</div>

<!-- c1 -->
    </body>
    </html>
