<!doctype html>
<html lang="en">
<head>
 {{>cdnLinks}}
</head>
<body style=" font-family: myriad-pro,sans-serif;
font-weight: 700;
font-style: normal;">
<div>
	<div class="container mx-auto">
	  <div style="background-image: url('https://pbs.twimg.com/profile_banners/1300704637700333568/1640676988/1500x500')" class="h-64 bg-gray-200 bg-cover bg-center flex items-center justify-center"> 
	  </div>
	  <div class="bg-white rounded-b-lg px-8">
		<div class="relative">
			  <img class="right-0 w-24 h-24 rounded-full mr-4 absolute -mt-8" src="{{avatar}}" alt="Avatar of Jonathan Reinink">
		</div>
		<div class="pt-8 pb-8">
		  <h1 class="text-2xl font-bold text-gray-700">{{username}}</h1>
		  <p class="text-sm text-gray-600"> <i class="fa fa-briefcase" aria-hidden="true"></i> {{job}} | <a href="https://rovikon.com">{{workplace}}</a></p>
		  
		  <div style="padding-top: 5px;"></div>
		  <p class="text-sm text-gray-600">"{{bio}}"</p>

		  <div class="py-5 px-3 text-center tracking-wide grid grid-cols-5 gap-6">
			<div class="posts">
			 <a href="https://facebook.com/jsthil"> <p class="text-lg"><img style="width: 30px;" src="https://adbmcdnimg.netlify.app/facebook.png"> </p></a> 
			</div>

		 <div class="followers">
			 <a href="https://www.instagram.com/jsthil"><p class="text-lg"><img style="width: 30px;" src="https://adbmcdnimg.netlify.app/instagram.png"> </p> </a>
		 </div>
			<div class="following">
			 <a href="https://open.spotify.com/user/cohoekszqlovygiee0babqybo"> <p class="text-lg"><img style="width: 30px;" src="https://adbmcdnimg.netlify.app/spotify.png"> </p></a>
		 </div>
			<div class="following">
			 <a href="https://music.apple.com/"> <p class="text-lg"><img style="width: 30px;" src="https://adbmcdnimg.netlify.app/itunes.png"> </p></a>
		 </div>
		  <div class="following">
			 <a href="https://twitter.com/jsthil99"><p class="text-lg"><img style="width: 30px;" src="https://adbmcdnimg.netlify.app/twitter.png"> </p> </a>
		 </div>
         		  <div class="following">
			 <a href="https://twitter.com/jsthil99"><p class="text-lg"><img style="width: 30px;" src="https://adbmcdnimg.netlify.app/github.png"> </p> </a>
		 </div>
		  
		  
		 </div>
		  
		  
		  <div class="flex justify-around mt-8">
			<span><a href="https://jsthil.me"><h1>Chat</h1></a></span>
			<span><a href="#"><h1>My Bucket</h1></a></span>
		  </div>
		</div>

	  </div>
	  
	</div>
	
</div>
		<!-- component -->
		<div class=" flex-1 p-1 flex justify-center items-center">
			<div class=" w-full md:max-w-4xl rounded-lg">
			<div class="px-3">
			  <div class="flex justify-between items-center h-16 p-4 my-6  rounded-lg border border-gray-100 shadow-md">
				<div class="flex items-center">
				  <img class="rounded-full h-12 w-12" src="https://adbmcdnimg.netlify.app/facebook.png" alt="Logo" />
				<div class="ml-2">
				  <div class="text-sm font-semibold text-gray-600">facebook</div>
				  <div class="text-sm font-light text-gray-500">@jsthil</div>
				</div>
				</div>
				<div>
			
				</div>
			  </div>
			  <div class="flex justify-between items-center h-16 p-4 my-6  rounded-lg border border-gray-100 shadow-md">
				<div class="flex items-center">
				  <img class="rounded-full h-12 w-12" src="https://adbmcdnimg.netlify.app/twitter.png" alt="Logo" />
				  <div class="ml-2">
					<div class="text-sm font-semibold text-gray-600">twitter</div>
					<div class="text-sm font-light text-gray-500">@jsthil99</div>
				  </div>
				</div>
				<div>
				
				</div>
			  </div>
			  <div class="flex justify-between items-center h-16 p-4 my-6  rounded-lg border border-gray-100 shadow-md">
				<div class="flex items-center">
				  <img class="rounded-full h-12 w-12" src="https://adbmcdnimg.netlify.app/github.png" alt="Logo" />
				  <div class="ml-2">
					<div class="text-sm font-semibold text-gray-600">github</div>
					<div class="text-sm font-light text-gray-500">@jsthi</div>
				  </div>
				</div>
				<div>
				
				</div>
			  </div>
              			  <div class="flex justify-between items-center h-16 p-4 my-6  rounded-lg border border-gray-100 shadow-md">
				<div class="flex items-center">
				  <img class="rounded-full h-12 w-12" src="https://adbmcdnimg.netlify.app/github.png" alt="Logo" />
				  <div class="ml-2">
					<div class="text-sm font-semibold text-gray-600">github</div>
					<div class="text-sm font-light text-gray-500">@jsthi</div>
				  </div>
				</div>
				<div>
				
				</div>
			  </div>
			  <div class="flex justify-between items-center h-16 p-4 my-6  rounded-lg border border-gray-100 shadow-md">
				<div class="flex items-center">
				  <img class="rounded-full h-12 w-12" src="https://adbmcdnimg.netlify.app/spotify.png" alt="Logo" />
				  <div class="ml-2">
					<div class="text-sm font-semibold text-gray-600">spotify</div>
					<div class="text-sm font-light text-gray-500"></div>
				  </div>
				</div>
				<div>
				
				</div>
			  </div>
			  <div class="flex  justify-center items-center h-16 p-4 my-6">
				
				  <div class="ml-1 text-gray-500 font-medium"><a href="https://addby.me"> <img style="width: 40px;" src="https://adbmcdnimg.netlify.app/added.png" alt=""></a></div>
			  </div>
			</div>
		
			</div>
				</div>
			
			<style>
			  .toggle__dot {
				transition: all 0.3s ease-in-out;
			}
			
			input:checked ~ .toggle__dot {
				transform: translateX(100%);
				background-color:#68D391
			}
			</style>

    </body>
    </html>
